version: "3.8"

services:
  postgres:
    image: postgres:17
    container_name: postgres
    hostname: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./database/postgresql:/etc/postgresql
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "admin"]
      interval: 10s
      retries: 5
      start_period: 5s
  
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    hostname: client
    ports:
      - "4200:80"
    depends_on:
      - server
  
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    hostname: server
    ports:
      - "8000:8000"
    depends_on:
      - postgres

volumes:
  postgres-data:
