
.auth-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.auth-box {
  width: 100%;
  max-width: 380px;
  background: var(--surface-0);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: var(--card-shadow);
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.link {
  color: var(--p-primary-color);
  cursor: pointer;
}

.p-password {
  width: 100%;
}

:host ::ng-deep .p-password input {
  width: 100% !important;
}