<p-toast></p-toast>

<div class="auth-container">

  <div class="auth-box">

    <h2 class="title">Create Account</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">

      <div>
        <label>Full Name</label>
        <input pInputText type="text" formControlName="full_name" class="w-full" />
      </div>

      <div>
        <label>Email</label>
        <input pInputText type="email" formControlName="email" class="w-full" />
      </div>

      <div>
  <label>Password</label>
  <p-password
    formControlName="password"
    class="w-full"
    [feedback]="false"
    [toggleMask]="true"
    [inputStyle]="{ width: '100%' }"
  ></p-password>
</div>

      <button pButton label="Register" class="w-full p-button-primary"></button>

    </form>

    <div class="text-center mt-4 text-sm">
      Already have an account?
      <a routerLink="/login" class="link">Login</a>
    </div>

  </div>

</div>